!DOCTYPE html>
<html lang = "en">
<%- include('../includes/head', {title: 'Edit Posts | Appreciation Wall'}) %>
<body>
    <%- include('../includes/header') %>
    

    <main>
        <h2>Edit a post</h2>
        <form action="/posts/<%= posts.slug %>" method="POST">
            <input type="text" value="<%= post.name %>" name="name" placeholder="name" /><br />
            <input type="text" value="<%= post.slug %>" name="slug" placeholder="slug" /><br />
            <input type="text" value="<%= post.message %>" name="message" placeholder="message" /><br />
            <button>Save</button>
    </form>
        

        
        
    </main>

</body>



</html>